<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
             data-background="assets/img/breadcrum/ab-1.1.jpg">
        <div class="ac-about-shape-img z-index-1">
            <img src="assets/img/breadcrum/ab-shape-1.1.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">404 Page</h3>
                        <a href="contact.html" class="tp-btn-white-border">Lets work together <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->


    <!--404-area-start -->

    <div class="tp-404-area tp-404-circle sky-bg pt-200 pb-150 fix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-404-thumb d-flex justify-content-center align-items-center z-index-1">
                        <img src="assets/img/contact/404.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 404-area-end -->


</main>