django>=4.0.0
python-dotenv
psycopg2-binary
gunicorn
pytest-django
pillow
django-taggit
django-jalali-date
requests
pydrive
redis
hiredis
django-rosetta
django-parler
djangorestframework
markdown
django-filter
django-cors-headers