<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
             data-background="assets/img/breadcrum/ab-1.1.jpg">
        <div class="ac-about-shape-img z-index-1">
            <img src="assets/img/breadcrum/ab-shape-1.1.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">Portfolio Masonry</h3>
                        <a href="contact.html" class="tp-btn-white-border">Lets work together <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- project-area-start -->
    <div class="tp-project-area tp-cc-project pt-130 pb-100">
        <div class="container">
            <div class="row justify-content-center mb-70">
                <div class="col-10 p-0 text-center">
                    <div class="tp-project-tab-button masonary-menu">
                        <button class="active" data-filter="*"><span>Website</span></button>
                        <button data-filter=".cat2"><span>Landing Page</span></button>
                        <button data-filter=".cat3"><span>ios App</span></button>
                        <button data-filter=".cat4"><span>Landing Page</span></button>
                        <button data-filter=".cat5"><span>Branding Design</span></button>
                    </div>
                </div>
            </div>
            <div class="row grid">
                <div class="col-xl-8 col-lg-8 col-md-12 grid-item  cat2 cat5 cat4">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="3d Digital Art" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/project/project-4.1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item  cat3 cat5">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="Graphic Design" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/project/project-4.2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat4">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="Web Design" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/project/project-4.3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat5 cat4">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="Mobile App Design" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/project/project-4.4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat5 cat4">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="Fashion Design" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/project/project-4.5.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat5 cat4">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="Architec Design" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/blog-details/blog-sm-6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 grid-item  cat2 cat5 cat4">
                    <div class="tp-project-item-four tp-img-reveal-item mb-30" data-subtitle="Design" data-title="3d Digital Art" data-fx="1">
                        <div class="tp-project-item-four__img fix">
                            <a href="#"><img class="w-100" src="assets/img/blog-details/blog-big-5.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tp-project-button text-center mt-25">
                        <a class="tp-btn-yellow" href="portfolio-details.html">Lode more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project-area-end -->


</main>