<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
             data-background="assets/img/breadcrum/ab-1.1.jpg">
        <div class="ac-about-shape-img z-index-1">
            <img src="assets/img/breadcrum/ab-shape-1.1.jpg" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">Login Page</h3>
                        <a href="contact.html" class="tp-btn-white-border">Lets work together <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->


    <!--login-area-start -->
    <div class="tp-login-area">
        <div class="container-fluid p-0">
            <div class="row gx-0 align-items-center">
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="tp-login-thumb login-space sky-bg d-flex justify-content-center">
                        <img src="assets/img/contact/login.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="tp-login-wrapper login-space d-flex justify-content-center">
                        <div class="tplogin">
                            <div class="tplogin__title">
                                <h3 class="tp-login-title">Login your Account</h3>
                            </div>
                            <div class="tplogin__form">
                                <form action="#">
                                    <div class="tp-mail">
                                        <label for="mail">Enter your Email</label>
                                        <input type="text" placeholder="Enter your Mail" id="mail">
                                    </div>
                                    <div class="tp-password">
                                        <label for="Password">Enter Password</label>
                                        <input type="password" placeholder="Enter your password" id="Password">
                                    </div>
                                    <div class="tp-forgot-password d-flex justify-content-between">
                                        <div class="checkbox">
                                            <input type="checkbox" id="Remember" name="fav_language" value="Remember">
                                            <label for="Remember">Remember me</label>
                                        </div>
                                        <div class="forgot">
                                            <a href="#">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class="tp-login-button">
                                        <button class="tp-btn-yellow w-100" type="submit">Sign In</button>
                                    </div>
                                    <div class="tp-signup d-flex justify-content-between">
                                        <div class="account">
                                            <a href="#">Don’t have an account?</a>
                                        </div>
                                        <div class="signin">
                                            <a href="#">Sign up now</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- login-area-end -->


</main>